<div class="top-nav-bar-bg"></div>
<div class="top-nav-bar-section --left">
  <div class="name">
    {{#link-to 'intern'}}
      <div class="logo">*</div>
      <div class="text">INFECTED</div>
    {{/link-to}}
  </div>
</div>

<div class="top-nav-bar-section --center">
  {{#each links as |link|}}
    {{#link-to link.target_url class="link"}}
      <div class="icon">
        {{#if link.is_fa_icon}}
          {{fa-icon link.icon}}
        {{else}}
          <span class="science-icon">{{link.icon}}</span>
        {{/if}}
      </div>
      <div class="title">{{link.title}}</div>
    {{/link-to}}
  {{/each}}
</div>

<div class="top-nav-bar-section --right">
  <div class="currencies">
    <div class="currency {{if (gt me.user.rps 0) "active"}}">
      {{#tooltip-component direction="bottom" tooltip="Your diamonds. A special currency which you can use to speed up your development."}}
        <img src="assets/images/diamond.png" width="24px" height="24px" />
        {{me.user.rps}}
      {{/tooltip-component}}
    </div>
    <div class="currency {{if (gt me.user.rps 0) "active"}}">
      {{#tooltip-component direction="bottom" tooltip="Your Research Points (RPs) Needed in the search for a cure for diseases you've been infected with."}}
        <img src="assets/images/flask.png" width="24px" height="24px" />
        {{me.user.rps}}
      {{/tooltip-component}}
    </div>
    <div class="currency {{if (gt me.user.eps 0) "active"}}">
      {{#tooltip-component direction="bottom" tooltip="Your Evolution Points (EPs) Needed in developing your infections."}}
        {{#if (gt me.user.eps 0)}}
          <img src="assets/images/helix.png" height="24px" />
        {{else}}
          <img src="assets/images/helix_medium.png" height="24px" />
        {{/if}}
        {{me.user.eps}}
      {{/tooltip-component}}
    </div>
  </div>
  {{#top-nav-bar/dropdown cssClasses="--account"}}
    {{#top-nav-bar/dropdown-title}}
      <span class="account-img"><img src={{me.user.img_url}} /></span>
      <span class="nav-icon">{{fa-icon 'navicon'}}</span>
    {{/top-nav-bar/dropdown-title}}
    {{#top-nav-bar/dropdown-options}}
      {{#each links as |link|}}
        {{#top-nav-bar/dropdown-option}}
          {{#link-to link.target_url}}
            <div class="option only-on-small">
              <span class="icon">
                {{#if link.is_fa_icon}}
                  {{fa-icon link.icon}}
                {{else}}
                  <span class="science-icon">{{link.icon}}</span>
                {{/if}}
              </span>
              {{link.title}}
            </div>
          {{/link-to}}
        {{/top-nav-bar/dropdown-option}}
      {{/each}}
      {{#top-nav-bar/dropdown-option}}
        <a href="#" >
          <div class="option" {{action 'logout'}}>
            <span class="icon">{{fa-icon 'sign-out'}}</span> Logout
          </div>
        </a>
      {{/top-nav-bar/dropdown-option}}
    {{/top-nav-bar/dropdown-options}}
  {{/top-nav-bar/dropdown}}

</div>
