<div class="section-title">Infections</div>
<div class="row">
  <div class="column list">
    {{#each model.user.infections as |infection|}}
      {{#link-to 'intern.infections.infection' infection.id}}
        <div class="list-item clickable">
          {{infection.name}}
        </div>
      {{/link-to}}
    {{/each}}
    {{#if (gt model.user.max_infections model.user.infections.length)}}
      {{#link-to 'intern.infections.create'}}
        <div class="list-item clickable">
          <img src="assets/images/plus.png" width="24px" /> new infection
        </div>
      {{/link-to}}
    {{else}}
      <div class="list-item clickable locked">
        {{#tooltip-component
            direction="bottom"
            tooltip="Coming soon"}}
            {{fa-icon 'lock'}} Unlock
        {{/tooltip-component}}
      </div>
    {{/if}}
  </div>
  <div class="column content {{if content_is_closed "closed" "opened"}}">
    {{outlet}}
  </div>
</div>
